module fib
import io
func fib (n i64) -> i64
    if (< n 2i64)
        return n
    end
    return (+ (fib (- n 1i64)) (fib (- n 2i64)))
end
func main () -> i32
    do (io::println (fib __N__i64))
    return 0i32
end
